<div class = "signers">

    <header class = "signers-header">
        <h1>We Ban Plastic Bottles!</h1>
    </header>

<div class = 'signers-nav'>
    <a href = "/profile/edit">
        <button type="submit" id = "edit-btn" class = "edit-btn">
            EDIT YOUR PROFILE
        </button>
    </a>
    </br>
    <a href = "/logout"><button class = "logout-btn">LOGOUT</button></a>
</div>

<div class = "signers-container-1">
    {{#signers}}
        <p>
            {{#if homepage}}
                    <a href="{{homepage}}">{{firstname}} {{lastname}}</a>
                {{else}}
                    {{firstname}} {{lastname}}
            {{/if}}
                {{age}}
                <a href="/petition/signers/{{city}}">{{city}}</a>
        </p>
    {{/signers}}
</div>
