<h1>We the undersigned demand that disgusting practice of eating burgers with pickles be banned by all around the world</h1>

<div class = "signers">

<div>
    {{#material}}
    <img src = "/burger.jpg" alt='burger'>
    {{/material}}
</div>

<div class = "allsigners">

{{#signers}}

<p>

{{#if homepage}}

<h3> <a href={{homepage}}> | {{firstname}} | {{lastname}} </a> | {{age}} | <a href = '/petition/signers/{{city}}'> {{city}} </a></h3>

{{else}}

<h3>{{firstname}} {{lastname}}| {{age}} | <a href = '/petition/signers/{{city}}'>{{city}}</a></h3>

{{/if}}

</p>

{{/signers}}

</div>
<a href = "/profile/edit"><button type="submit" id = "edit-btn" class = "edit-btn">EDIT YOUR PROFILE</button></a>
<a id="logout" href="/logout">LOGOUT</a>
</div>
